@page "/pedidos"
@using Paca.Shared.Modelos
@inject HttpClient http
<h3>Lista De Pedidos</h3>

@if (losPedidos == null)
{
    <h1>Cargando datos...</h1>
}
else if (losPedidos.Count == 0)
{
    <h1>No existen clientes registrados</h1>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>ClienteID</th>
                <th>ProductoID</th>
                <th>CantidadSolicitada</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var elpedido in losPedidos)
            {
                <tr>
                    <td>@elpedido.Id</td>
                    <td>@elpedido.Fecha</td>
                    <td>@elpedido.ClienteId</td>
                    <td>@elpedido.ProductoId</td>
                    <td>@elpedido.CantidadSolicitada</td>
                    <td>Acciones</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Pedido> losPedidos;

    protected override async Task OnInitializedAsync()
    {
        losPedidos = await http.GetFromJsonAsync<List<Pedido>>("api/pedidos");
    }
}
